<html>
<head>
    <link href="{{ url_for('static', path='\styles.css') }}" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/picnic@7.1.0/Gruntfile.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic@7.1.0/picnic.min.css">
    <title>Item Details</title>
</head>
	<body>
		<center>
        <main>
            <h1 class = "center">Voice Training App</h1>
			<div class = "center">
				<a href="./pitch-select", class = "button">Get Started!</a>
			</div>
        </main>
		</center>
        <script src="index.js"></script>
    </body>
</html>