<!doctype html>
<html lang="en">
	<link href="{{ url_for('static', path='\styles.css') }}" rel="stylesheet">
    <title>Item Details</title>
    <body>
        <main>
            <h1 class = "center">Welcome!</h1>
			<div class = "center">
				Press the button to begin recording!
			</div>
			<audio id="player" controls></audio>
        </main>
		<script>
		const handleSuccess = async function(stream) {
			const context = new AudioContext();
			const source = context.createMediaStreamSource(stream);
		
			await context.audioWorklet.addModule("{{ url_for('static', path='\processor.js') }}");
			const worklet = new AudioWorkletNode(context, "worklet-processor");
		
			source.connect(worklet);
			worklet.connect(context.destination);
		};
		
		navigator.mediaDevices.getUserMedia({ audio: true, video: false })
			.then(handleSuccess);
		</script>
    </body>
</html>